<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Aggregator</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/index.css" th:href="@{/css/index.css}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light wapi-nav">
        <div class="container">
            <a class="navbar-brand" href="/">Weather Aggregator API</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api">API</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="body wapi-body">
        <div class="container">
            <form class="container-sm wapi-search" th:action="@{/weather}" th:method="POST">
                <div class="mb-3 wapi-search-input">
                    <input type="text" class="form-control" name="city" placeholder="City">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>

            <br>

            <div class="container px-4">
                <div class="row gx-5">
                    <div class="col">
                        <div class="p-3 border bg-light">
                            <div class="wapi-services-logo">
                                <img src="../static/images/openWeather-logo.png"
                                     class="img-fluid wapi-img-logo" alt="OpenWeather"
                                     th:src="@{images/openWeather-logo.png}">
                                OpenWeather
                            </div>
                            <br>
                            <div class="card">
                                <div class="wapi-card-temp">
                                    <h1>+12 ºC</h1>
                                    <p>Rain</p>
                                </div>
                                <ul class="current-other-params">
                                    <li class="list li-wind">5 m/s</li>
                                    <li class="list li-humidity">91 %</li>
                                    <li class="list li-pressure">760 mm Hg</li>
                                </ul>
                            </div>
                            <table class="table table-borderless wapi-table">
                                <thead>
                                <tr class="wapi-table-thead">
                                    <td></td>
                                    <td>Temp,<br>ºC</td>
                                    <td>Condition<br></td>
                                    <td>Pressure,<br>mm Hg</td>
                                    <td>Humidity,<br>%</td>
                                    <td>Wind,<br>m/s</td>
                                    <td>Feels like,<br>ºC</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Morning</td>
                                    <td>+12</td>
                                    <td>Rain</td>
                                    <td>753</td>
                                    <td>91</td>
                                    <td>5</td>
                                    <td>+6</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col">
                        <div class="p-3 border bg-light">
                            <div class="wapi-services-logo">
                                <img src="../static/images/yandexWeather-logo.png"
                                     class="img-fluid wapi-img-logo" alt="OpenWeather"
                                     th:src="@{images/yandexWeather-logo.png}">
                                Yandex.Weather
                            </div>
                            <br>
                            <div class="card">
                                <div class="wapi-card-temp">
                                    <h1>+12 ºC</h1>
                                    <p>Rain</p>
                                </div>
                                <ul class="current-other-params">
                                    <li class="list li-wind">5 m/s</li>
                                    <li class="list li-humidity">91 %</li>
                                    <li class="list li-pressure">760 mm Hg</li>
                                </ul>
                            </div>
                            <table class="table table-borderless wapi-table">
                                <thead>
                                <tr class="wapi-table-thead">
                                    <td></td>
                                    <td>Temp,<br>ºC</td>
                                    <td>Condition<br></td>
                                    <td>Pressure,<br>mm Hg</td>
                                    <td>Humidity,<br>%</td>
                                    <td>Wind,<br>m/s</td>
                                    <td>Feels like,<br>ºC</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Morning</td>
                                    <td>+12</td>
                                    <td>Rain</td>
                                    <td>753</td>
                                    <td>91</td>
                                    <td>5</td>
                                    <td>+6</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer wapi-div-footer">
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top wapi-footer">
                <p class="col-md-4 mb-0 text-muted">&copy; 2021 Weather Aggregator API</p>
                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
                    <li class="nav-item"><a href="/api" class="nav-link px-2 text-muted">API</a></li>
                </ul>
            </footer>
        </div>
    </div>
</body>

</html>