server:
  port: 8092

spring:
  datasource:
    url: jdbc:h2:mem:apiweatherdb;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

request-number-fields:
  register: 3
  user-keys: 2
